---
interface Props {
  text: string
  href?: string
  className?: string
  variant: string
}
const { text, href, className, variant } = Astro.props

const bgColour =
  variant === 'primary'
    ? 'bg-primary text-white'
    : 'bg-secondary text-neutral-700'

const hoverEffects = 'hover:shadow-2xl hover:scale-105 hover:bg-secondary hover:-translate-y-1'
const baseStyles = 'px-8 py-4 rounded-xl transition-all duration-300 ease-out shadow-lg font-medium'
---

{
  href ? (
    <a
      href={href}
      class={`${baseStyles} ${className} ${bgColour} ${hoverEffects}`}
    >
      {text}
    </a>
  ) : (
    <button
      class={`${baseStyles} ${className} ${bgColour} ${hoverEffects}`}
    >
      {text}
    </button>
  )
}
