---
import Content from '../../layouts/Content.astro'
import Heading from '../../components/Heading.astro'
import Article from '../../components/Article.astro'
import Layout from '../../layouts/Layout.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Header from '../../components/Header.astro'
import { SEO } from 'astro-seo'
import '../../styles/main.scss'

const siteUrl = Astro.site?.toString() || 'https://amandaliczner.ca'
---

<SEO
  title="Tracking Bumble Bees to Learn Their Needs | Radio Telemetry Study"
  description="Radio telemetry research tracking bumble bee queens to discover nesting and overwintering habitat locations, movement patterns, and habitat selection. Groundbreaking study on bumble bee ecology by Dr. Amanda Liczner."
  canonical={`${siteUrl}/experience/bee-needs`}
  openGraph={{
    basic: {
      title: 'Learning Bumble Bee Needs Through Radio Tracking Research',
      type: 'article',
      image: `${siteUrl}/pictures/Project2A.jpg`,
      url: `${siteUrl}/experience/bee-needs`,
    },
    optional: {
      description: 'Tracking spring and late-summer bumble bee queens to understand their movement, habitat selection, nesting sites, and overwintering locations using radio telemetry.',
      siteName: 'Dr. Amanda Liczner - Ecologist',
      locale: 'en_CA',
    },
    article: {
      authors: ['Dr. Amanda Liczner'],
      tags: ['bumble bees', 'radio telemetry', 'habitat selection', 'nesting habitat', 'overwintering', 'pollinator ecology'],
    },
    image: {
      url: `${siteUrl}/pictures/Project2A.jpg`,
      secureUrl: `${siteUrl}/pictures/Project2A.jpg`,
      alt: 'Bumble bee foraging on flower during radio telemetry tracking study',
      type: 'image/jpeg',
      width: 1200,
      height: 800,
    }
  }}
  twitter={{
    card: 'summary_large_image',
    site: '@amandaliczner',
    creator: '@amandaliczner',
    title: 'Tracking Bumble Bees to Learn Their Habitat Needs',
    description: 'Radio telemetry study reveals bumble bee nesting sites, overwintering locations, and movement patterns.',
    image: `${siteUrl}/pictures/Project2A.jpg`,
    imageAlt: 'Bumble bee on flower in field',
  }}
  extend={{
    meta: [
      { name: 'keywords', content: 'bumble bee tracking, radio telemetry bees, bumble bee nesting habitat, overwintering sites, bumble bee movement, habitat selection, pollinator ecology research, bumble bee conservation' },
      { name: 'author', content: 'Dr. Amanda Liczner' },
      { name: 'robots', content: 'index, follow' },
      { property: 'article:author', content: 'Dr. Amanda Liczner' },
      { property: 'article:section', content: 'Research' },
      { name: 'geo.region', content: 'CA' },
    ],
    link: [
      { rel: 'alternate', hreflang: 'en-ca', href: `${siteUrl}/experience/bee-needs` },
      { rel: 'alternate', hreflang: 'en', href: `${siteUrl}/experience/bee-needs` },
    ]
  }}
/>

<!-- ScholarlyArticle Structured Data -->
<script type="application/ld+json" set:html={JSON.stringify({
  '@context': 'https://schema.org',
  '@type': 'ScholarlyArticle',
  'headline': 'Learning Their Needs by Tracking the Bees',
  'description': 'Radio telemetry research tracking bumble bee queens to discover nesting and overwintering habitat locations, movement behaviour, and habitat selection patterns.',
  'author': {
    '@type': 'Person',
    'name': 'Dr. Amanda Liczner',
    'jobTitle': 'Ecologist and Conservation Biologist',
    'url': siteUrl
  },
  'about': ['Bumble Bees', 'Radio Telemetry', 'Habitat Selection', 'Nesting Habitat', 'Overwintering Sites', 'Pollinator Movement'],
  'keywords': 'bumble bees, radio telemetry, nesting habitat, overwintering, movement behaviour, habitat selection',
  'url': `${siteUrl}/experience/bee-needs`,
  'image': `${siteUrl}/pictures/Project2A.jpg`,
  'inLanguage': 'en-CA'
})} />

<!-- Breadcrumb Structured Data -->
<script type="application/ld+json" set:html={JSON.stringify({
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  'itemListElement': [
    {
      '@type': 'ListItem',
      'position': 1,
      'name': 'Home',
      'item': siteUrl
    },
    {
      '@type': 'ListItem',
      'position': 2,
      'name': 'Experience',
      'item': `${siteUrl}/experience`
    },
    {
      '@type': 'ListItem',
      'position': 3,
      'name': 'Bumble Bee Tracking Research',
      'item': `${siteUrl}/experience/bee-needs`
    }
  ]
})} />
---

<style>
  li {
    margin-left: 5%;
    margin-bottom: 5px;
    list-style-type: number;
  }
</style>
<Layout title="Tracking Bumble Bees to Learn Their Needs - Amanda Liczner">
  <Sidebar class="lg:hidden" />
  <Header />
  <Content>
    <Article>
      <Heading
        slot="header"
        level={1}
        gradient
        class="inline-block"
        text="Learning their needs by tracking the bees"
      />

      <div class="mx-auto overflow-hidden md:max-w-3xl my-4 md:text-xl">
        <div class="md:flex my-4 md:space-x-4">
          <div class="md:w-3/5">
            Bumble bees need at least 3 resources to survive: flowers (their
            food source), nest sites (to raise their young), and overwintering
            sites (for queens to hibernate for the winter). However, we know
            very little about their nesting and overwintering habitat, partly
            because these sites are so hard to find - they are usually
            underground!
          </div>
          <div class="md:w-2/5 my-4">
            <img
              class="h-72 w-full object-cover md:h-full rounded-full"
              src="/pictures/Project2A.jpg"
              alt="A bumble bee landed on a flower in the field"
            />
          </div>
        </div>
        <div class="md:flex md:space-x-4">
          <div class="my-4">
            We also know very little about their movement behaviour and habitat
            selection. For larger animals, it has been easier to track their
            movements using radio collars or GPS collars that send a signal
            giving the animal's location. Until very recently the technology has
            not existed for researchers to be able to follow smaller animals
            such as bumble bees.
          </div>
        </div>
        <div class="md:flex md:space-x-4">
          <div class="md:w-1/2 my-4">
            In this project we tagged spring bumble bee queens and late summer
            bumble bee queens to learn more about their movement behaviour,
            habitat selection, and about their nesting and overwintering habitat
            locations.
            <br />
            <br />
            We are still analyzing the data, but it appears late-summer queens often
            return to the same areas and can be active for up to 50 days. They also
            may overwinter at the same location with many other queens.
          </div>
          <div class="md:w-1/2 my-4">
            <img
              class="h-72 w-full object-cover md:h-full rounded-full"
              src="/pictures/Project2B.jpg"
              alt="A bumble bee with a radio tag on its back climbing on Amanda's finger"
            />
          </div>
        </div>
        <div class="md:flex md:space-x-4">
          <div class="md:w-1/2 my-4">
            <img
              class="h-72 w-full object-cover md:h-full rounded-full"
              src="/pictures/Project1C.jpg"
              alt="Amanda inspecting a radiotelemetry tower "
            />
          </div>
          <div class="md:w-1/2 my-4">
            Their movements are tracked using radio towers set up at our study
            sites. Using this data, we have compared the flight distance, home
            range, habitat usage and selection of bumble bee queens. The results
            are still preliminary, but it unfortunately looks like a newer class
            of pesticide called diamides are just as harmful as neonicotinoids
            when we look at their flight behaviour.
          </div>
        </div>
      </div>
    </Article>
  </Content>
</Layout>
